.set-project-style(@project-font-size-title: 18px, @project-font-size-body: 16px) {
    .project {
        line-height: 1.5;
        margin: 2rem 1rem;
        .set-font-style(source-serif-pro,@font-color-dark,@project-font-size-title,600, normal);
        .project-item {
            margin: 0 0 1rem 0;
            .tech-and-date {
                .set-font-style(source-serif-pro,@font-color-light,@project-font-size-body,300, italic);
            }
            ul {
                .set-font-style(source-serif-pro,@font-color-dark,@project-font-size-body,300, normal);
                list-style: square inside none;
            }
        }
    }
}
